# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project Data
data/*
!data/.gitkeep
!data/raw/
!data/raw/*
!data/processed/
!data/processed/*
